.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: underline;
  }
}

label {
  margin-bottom: .25rem;
}
header {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
}

footer {
  padding: .5rem .25rem;
  text-align: center;
}
