@import "/src/scss/variables";

game-board-stage-dot {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #6a6a6a;
  border: $border;
  border-color: rgba(#000, .5);
  box-shadow: 0 0 .5em 1em inset rgba(#222222, .5);

  &[status="OK"] {
    background-color: $success;
  }

  &[status="FAIL"] {
    background-color: $error;
  }
}
