$board-spacing: 5px;

:root {
  --boardColumns: 4;
}

.game-board {
  display: grid;
  grid-gap: $board-spacing;
  grid-template-columns: repeat(var(--boardColumns), 1fr);
  padding: $board-spacing;
}
