@import "/src/scss/variables";

.btn {
  font-size: $font-size-lg;

  padding: $input-padding-y $input-padding-x;

  border: $border;
  background-color: #000;
  color: #fff;
  border-radius: $border-radius;

  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}
