@import "/src/scss/variables";
page-home {
  .main-menu {
    display: flex;
    flex-direction: column;
    text-align: center;

    min-width: 200px;
  }

  .bottom-row {
    margin-top: 1.5rem;
  }
}
