$preview-bg-color: #000;

page-game {
  width: 100%;
  text-align: center;
  display: block;

  .preview {
    width: 50%;
    background-color: $preview-bg-color;
  }
  .user-area {
    width: 50%;
  }

  .boards {
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
}
