@import "/src/scss/variables";

$preview-bg-color: #000;

page-game {
  width: 100%;

  text-align: center;
  display: block;

  font-size: 1vw;

  .preview {
    width: 50%;
    background-color: $preview-bg-color;
  }
  .user-area {
    width: 50%;
  }

  .boards {
    display: flex;
    flex: 1;
    overflow: hidden;

    align-items: center;
    justify-content: center;
    width: 100%;

    margin: 0 0 1rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: .5rem;
    }
  }
}
