@import "/src/scss/variables";
@import "../variables";

$board-item-button-border-color: #1d1d1d;
$board-item-button-background: #d0d0d0; // Taken from in-game screenshot
$board-item-button-border-width: 3px;

game-board-item-clickable {
  button {
    -webkit-appearance: none;

    border-radius: 5%;
    border: .35em solid rgba($board-item-button-border-color, .85);
    display: block;
    cursor: pointer;

    // This combined with box-shadow em sizes gives nice scalable shadow.
    box-shadow: inset 0 0 .75em 1em rgba($board-item-button-border-color, .3), .25em 1em 0.5em 0.1em rgba(#000, .25);
    background-color: $board-item-button-background; // Taken from in-game screenshot

    width: 100%;
    height: 100%;
    padding: 0;

    &:disabled {
      cursor: not-allowed;
      background-color: rgba($board-item-button-background, .5);
    }

    &:focus {
      background-color: $board-item-highlight-color;
      outline: none;
    }
  }

}
