@import "/src/scss/variables";
@import "variables";

$board-item-button-border-color: #1d1d1d;
$board-item-button-background: #d0d0d0; // Taken from in-game screenshot
$board-item-button-border-width: 3px;

game-board-item-clickable {
  button {
    border: 1px solid rgba($board-item-button-border-color, .5);
    display: block;
    cursor: pointer;

    // This combined with box-shadow em sizes gives nice scalable shadow.
    font-size: var(--boardRowHeight);
    box-shadow: inset 0 0 .15em .08em rgba($board-item-button-border-color, .5);
    border-radius: $board-item-border-radius;
    background-color: $board-item-button-background; // Taken from in-game screenshot

    width: 100%;
    height: 100%;

    &:disabled {
      cursor: not-allowed;
      background-color: rgba($board-item-button-background, .5);
    }

    &:focus {
      background-color: $board-item-highlight-color;
      outline: none;
    }
  }

}
