.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Slide up
  transition: transform .2s ease;
  transform: none;

  &.hidden {
    transform: translateY(100vh);
  }
}
