input, select {
  border-radius: $border-radius;
  padding: $input-padding-y $input-padding-x;
  border: $border;

  background-color: $body-bg;
  color: $body-color;
  font-size: $font-size-base;

  // Custom dropdown icon?
  //-webkit-appearance: none;
  //-moz-appearance: none;
  //appearance: none;

  outline: none;
}

label {
  font-weight: $font-weight-bolder;
}
