@import "./mixins/second_border";

$primary: #000;
$secondary: #fff;

$body-bg: #000;
$body-color: #fff;

//region Borders
$border-radius: .75rem;
$border-width: 3px;
$border-style: solid;
$border-color: #fff;
$border: $border-width $border-style $border-color;
//endregion

//region Inputs
$input-padding-y: .5rem;
$input-padding-x: 1rem;
//endregion

//region Fonts
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$font-size-base: 1.25rem;
$font-size-sm: $font-size-base * .9;
$font-size-lg: $font-size-base * 1.1;

$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bolder: 600;
$font-weight-bold: 700;
//endregion

$outline: none;
